.top {
    margin-top: 10px;
}

.phone {
    color: #666;
    float: right; /*对顶端电话图标样式改写*/
}

.mail {
    color: #666;
    float: right; /*对顶端邮箱图标样式改写*/
}

.ant:link {
    text-decoration: none; /* 代表取消未访问的超链接的下划线*/
}

.ant:visited {
    text-decoration: none; /* 代表取消已访问过的超链接的下划线*/
}

.ant:hover {
    text-decoration: none; /* 代表取消光标在超链接时的下划线*/
}

.ant:active {
    text-decoration: none; /* 代表取消激活时的超链接下划线*/
}

/*导航栏默认属性设置*/
.navbar-default {
    margin-bottom: 0; /*底边距为0*/
    border: 0; /*无边框*/
    background-color: #e7e7e7; /*导航栏背景色*/
    margin-top: 30px; /* 设置导航栏的上边距*/
}

/*导航栏项目激活时属性*/
.navbar-default .navbar-nav .active a,
.navbar-default .navbar-nav .active a:hover,
.navbar-default .navbar-nav .active a:focus {
    background-color: #005197; /*设置激活时的导航栏背景色*/
    color: #fff; /*激活时文字的颜色*/
}

/*一级菜单光标移过时属性*/
.navbar-default .navbar-nav li a:hover {
    color: #fff;
    background-color: #005197;
}

/*一级菜单单击展开时属性*/
.navbar-default .navbar-nav li.open a.on {
    color: #fff;
    background-color: #005197;
}

/*下拉菜单内边距*/
.dropdown-menu {
    padding: 0;
}

/*二级菜单标签属性*/
.dropdown-menu li a {
    padding-top: 10px; /*二级菜单内上边距*/
    padding-bottom: 10px;
    color: #777;
    text-align: center;
}

/*一级菜单宽度和文字对齐方式*/
.nav-top {
    width: 14%;
    text-align: center;
}

/*页脚样式*/
.web-footer {
    width: 100%;
    margin-top: 30px;
}

#map-footer {
    background-color: #3a3a3a;
}

#map-footer dl {
    text-align: center;
    margin-top: 40px;
}

#map-footer dt {
    padding: 3px;
    color: #fff;
}

#map-footer dd {
    padding: 3px;
}

/*二维码广告文字样式设置*/
#map-footer p {
    margin-top: 20px;
    margin-bottom: 10px;
    color: #fff;
    font-size: 16px;
}

#map-footer a {
    color: #a6a6a6;
    font-size: 13px;
}

#map-footer a:hover {
    color: #fff;
    text-decoration: none;
}

#wx {
    text-align: center;
}

.qr img {
    max-width: 170px;
}

#patent-footer {
    text-align: center;
    background-color: #3a3a3a;
}

#patent-footer p {
    margin-top: 10px;
    padding-right: 80px;
    color: #8d8d8d;
    font-size: 11px;
}
/*王普慧-creativeApp-区分链接颜色-4.16*/
/*二级菜单鼠标移过时的属性*/
.navbar-default .navbar-nav li ul a:hover{
    color: #fff;
    background-color: #005197;
}
/*一级菜单激活时。二级菜单鼠标移过时属性*/
.navbar-default .navbar-nav li.active ul a:hover{
    color: #fff;
    background-color:#022a4d;
}
/*王普慧-creativeApp-区分链接颜色-4.16-end*/

/*王普慧-creativeApp-定制导航栏标题和列表样式-p125*/
/* 侧边导航栏 */
.row-3{
    margin-top: 30px; /* 设置顶部边距 */
}
/*侧边导航栏标题样式*/
.model-title{
    text-align: center;
    color: #fff;
    font-size: 22px;
    padding: 15px 0px;
    background: #005197;
    margin-top: 25px;
}
/*侧边导航栏列表项样式*/
.model-title li{
    text-align:center;
	background-color:#f6f6f6;
	font-size:16px;
}
/*侧边导航栏列表项链接样式*/
.model-list li a{
	color:#545353;
}
/*侧边导航栏列表项链接激活样式*/
.model-list li a:hover{
	text-decoration:none;
	color:#005197;
}
/*侧边导航栏激活样式*/
.model-list li.active{
	text-align:center;
	background-color:#f6f6f6;
	font-size:16px;
	border-color: #ddd;
}
/*侧边导航栏激活状态下鼠标移过时样式*/
.model-list li.active:hover{
	text-align:center;
	background-color:#f6f6f6;
	font-size:16px;
	border-color: #ddd;
}
/*侧边导航栏激活状态时链接样式*/
.model-list li.active a{
	color:#005197;
}
/*王普慧-creativeApp-定制导航栏标题和列表样式-4.16-end*/



